<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje radnika</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija radnika: {{data.naziv}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje radnika: {{data.naziv}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flag == 3" required> 
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="cena" [(ngModel)]="data.cena" name="cena" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="opis" [(ngModel)]="data.opis" name="opis" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="prosecnaOcena" [(ngModel)]="data.prosecnaOcena" name="prosecnaOcena" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="kolicina" [(ngModel)]="data.kolicina" name="kolicina" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>





      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.tip" placeholder="Tip" name="tip" [compareWith]="compareTo" [disabled]="flag == 3">
            <mat-option *ngFor="let tip of tip" [value]="tip">
              {{ tip.tip }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <
      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
        <button mat-button (click)="cancel()">Poništi</button>
      </div>
    </form>
  </div>