<mat-toolbar color="basic"class="title">
    <span class="title-center">Proizvod</span>
  </mat-toolbar>
  
    <div class="container mat-elevation-z8">
       
    
    <div class="container mat-elavation-z8">
      <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
        <!--ID-->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>
        <!--Naziv-->
        <ng-container matColumnDef="naziv">
          <mat-header-cell *matHeaderCellDef mat-sort-header>naziv</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.naziv }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cena">
          <mat-header-cell *matHeaderCellDef mat-sort-header>cena</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.cena }}</mat-cell>
        </ng-container>
        <!-- Opis -->
        <ng-container matColumnDef="opis">
          <mat-header-cell *matHeaderCellDef mat-sort-header>opis</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.opis }}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="prosecnaOcena">
          <mat-header-cell *matHeaderCellDef mat-sort-header>prosecnaOcena</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.prosecnaOcena}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="kolicina">
          <mat-header-cell *matHeaderCellDef mat-sort-header>kolicina</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.kolicina}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="tip">
          <mat-header-cell *matHeaderCellDef mat-sort-header>tip</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.tip}}</mat-cell>
        </ng-container>
  
  
  
       
      
        <!-- Action Buttons -->
        <!-- Action Buttons -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button (click)="KreirajPorudzbinu()" mat-icon-button color="primary">
                <mat-icon aria-label="Kreiraj porudzbinu">add</mat-icon>
              </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            <button (click)="Remove(row)" mat-icon-button color="primary">
              <mat-icon aria-label="Remove">delete</mat-icon>
            </button>
           
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: pointer" *matRowDef="let row; columns: displayedColumns;" >
        </mat-row>
      </mat-table>
      
    </div>
  
  